<h1>Orders</h1>
{{#if orders.length}}
    {{#each orders}}
        <div class="row">
            <div class="col s6 offset-s3">
                <div class="cart z-depth-2 " style="padding: 1rem">
                    <div class="cart-content">
            <span class="cart-title">
                 <p>Order: №<strong>{{_id}}</strong></p>
            </span>
                        <p class="date">{{date}}</p>
                        <p><em>{{user.userId.name}}</em>
                        <td>({{user.userId.email}})

                        <ol>
                            {{#each courses}}
                                <li><strong>{{course.title}} - </strong>count:&nbsp;<strong>{{count}}</strong></li>
                            {{/each}}
                        </ol>
                        <hr>
                        <p>Total Price: <span class="price">{{price}}</span></p>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
{{else}}
    <p>Not Orders Yet</p>
{{/if}}
